body.night{
    color: white;
    background-color: black;
}
body.night button{
    color: white;
    background-color: black;
}
body.light{
    color: black;
    background-color: white;
}

body.light button{ 
    color: black;
    background-color: white;
}
